<div class="content mt-2">
  <div class="bg-primary w-100 p-1  pt-3 px-3">
    <h2 class="text-white">Drawer content</h2>
  </div>
  <mat-drawer-container class=" example-container ">
    <mat-drawer-content class="example-content">
      <mat-list class="fs-6 example-content">
        <mat-list-item ><a href="biding" class="ps-3 nav-link">Data Biding</a></mat-list-item>
        <mat-divider class="m-2"></mat-divider>
        <mat-list-item ><a href="directive" class="ps-3 nav-link">ngIf Directive</a></mat-list-item>
        <mat-divider class="m-2"></mat-divider>
        <mat-list-item ><a href="" class="ps-3 nav-link">ngFor Directive</a></mat-list-item>
        <mat-divider class="m-2"></mat-divider>
        <mat-list-item ><a href="" class="ps-3 nav-link">ngFor Directive</a></mat-list-item>
        <mat-divider class="m-2"></mat-divider>
      </mat-list>
    </mat-drawer-content>
  </mat-drawer-container>
</div>


