<mat-drawer-container class=" example-container ">
  <mat-drawer class="fs-3 text-primary"  mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content class="example-content">
    <mat-list class="fs-6 example-content">
      <mat-divider class="m-2"></mat-divider >
      <mat-list-item ><a href="biding" class="ps-3 nav-link">Data Biding</a></mat-list-item>
      <mat-divider class="m-2"></mat-divider>
      <mat-list-item ><a href="directive" class="ps-3 nav-link">ngIf Directive</a></mat-list-item>
      <mat-divider class="m-2"></mat-divider>
      <mat-list-item ><a href="" class="ps-3 nav-link">ngFor Directive</a></mat-list-item>
      <mat-divider class="m-2"></mat-divider>
      <mat-list-item ><a href="" class="ps-3 nav-link">ngFor Directive</a></mat-list-item>
      <mat-divider class="m-2"></mat-divider>
    </mat-list>
  </mat-drawer-content>
</mat-drawer-container>
